* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #242B2E; */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  overflow-x: hidden;
  font-family: sans-serif;
}

.container h1 {
  text-align: center;
  font-size: 3rem;
  color: #fefefe;
  margin-top: 40px;
}

.container .projectList {
}

.container .projectList .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.container .projectList .card {
  background: #5da3fa;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 10px 0;
}

.container .projectList .card .cardImg {
  padding: 5px;
  border: 2px solid #03203c;
  border-radius: 10px;
}

.container .projectList .card .cardImg img {
  width: 300px;
}

.container .projectList .card .cardBody {
  text-align: center;
}

.container .projectList .card .cardBody a {
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  margin: 20px 0;
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

.container .projectList .card .cardBody p {
  display: inline;
  background-color: #242b2e;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  margin: 5px;
}

@media (max-width: 768px) {
  .container .projectList .card .cardImg img {
    width: 200px;
  }
}
